.table-nonfluid {width: auto !important;}
.table-center {margin: 0 auto !important; float: none !important; }
.newline{display: block; margin: 0 auto;}
.table td, .table th {text-align: center;}
.table td:first-child { font-weight: bold;}
.table tbody>tr>td {vertical-align: middle;}