.table-nonfluid {width: auto !important;}
.center {margin: 0 auto !important; float: none !important;}

.table td, .table th {text-align: center;}
.table td:first-child { font-weight: bold;}
.table tbody>tr>td {vertical-align: middle;}

span.glyphicon {cursor: pointer; font-size: 1.5em;}

table.personal-information input, table.personal-information select.state {width: 9.75em;}

div.well.personal-information, div.well.login {max-width:40em; margin: 0 auto;}

div.register-here p a {cursor: pointer;}

div.well.login table {width: 65%;}
div.well.login table tr td input {width: 100%;}

div.login-button {text-align: center; margin-top: 1em;}
div.login-button button {width: 65%;}
