    <h1 class="text-center">Account Login</h1>
    <div class="well login">
        <h2 class="text-center">Enter your credentials</h2>
        <form ng-submit="validateUser()">
            <table class="table-fluid table-condensed center personal-information">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" ng-model="username"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" ng-model="password"/></td>
                </tr>
            </table>
        </form>
        <div class="login-button"><input type="submit" value="Login"/></div>
        <hr>
        <div class="register-here">
            <p class="text-center">Not registered yet?</p>
            <p class="text-center">Register <a ui-sref="register">here</a>!</p>
        </div>
    </div>
